<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

	<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		}
		
		// Close the dropdown if the user clicks outside of it
		window.onclick = function(event) {
			if (!event.target.matches('.dropbtn')) {
				var dropdowns = document.getElementsByClassName("dropdown-content");
				var i;
				for (i = 0; i < dropdowns.length; i++) {
					var openDropdown = dropdowns[i];
					if (openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
					}
				}
			}
		}
	</script>


</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>

<!--<table>
  <thead>
    <tr>
      <th> Categories </th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="Category, itemStat : *{l}">
      <td><input th:field="*{l[__${itemStat.index}__].getName()}" /></td>
    </tr>
  </tbody>
</table>-->

<!--<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="category : ${categories}">
      <td th:text="${category.name}"></td>
    </tr>
  </tbody>
</table>-->


<div class="container">
  <h3> Select Category </h3>

  <select class="form-select">
    <form>
      <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
    </form>
  </select>
</div>

<div class="container" id="newCategoryButton">
  <form action="/newcategory" method="post">
    <label>Enter New Category : </label>
    <input type="name" placeholder="New Category" name="name">

    <button type="submit"> Submit </button>
  </form>
</div>

<div class="container">
  <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>            
  <table class="table table-striped" id="orderItemList">
    <thead>
      <tr>
        <th> Item </th>
        <th> Requested </th>
        <th> Given </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each = "orderItem : ${orderItems}">
        <td th:text = "${orderItem.itemKey}"></td>
        <td th:text = "${orderItem.requested}"></td>
        <td th:text = "${orderItem.given}"></td>
      </tr>
      <tr>
        <form action="/newOrderItem" method="post">
          <td><input type="text" placeholder="Enter name and unit" name="itemKey" required></td>
          <td><input type="number" placeholder="Amount Requested" name="required" required></td>
          <td><input type="number" placeholder="Amount Given" name="given" required></td>
          <td><button type="submit">Add Item</button></td>
        </form>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
