<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
</head>
<body>
<div th:insert="~{navbar :: navbar}"></div>

<div class="container">
  <table class="table table-striped" id="inventoryItemList">
    <thead>
      <tr>
        <th> Item </th>
        <th> Quantity </th>
        <th> Requested </th>
        <th> To Order </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${items}">
        <td th:text="${item.itemKey}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.requested}"></td>
        <td th:text="${item.requested - item.quantity}"></td>
      </tr>
    </tbody>
  </table>
</div>