<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div th:fragment="navbar">
    <link rel="stylesheet" href="css/navbar.css">
    <div class="tab">
      <a href="categories"><button class="tablinks">Categories</button></a>
      <a href="inventoryList"><button class="tablinks">Inventory List</button></a>
      <a href="itemList"><button class="tablinks">Item List</button></a>
      <a href="/" style="margin-left:auto;"><button class="tablinks logout-btn">Logout</button></a>
    </div>
  </div>
  

</body>
</html>
